
html
	head
		meta(charset="UTF-8")
		meta(name="description",content='Secuelas perpetuas es un especial que relata desgarradoras historias de Mujeres shipibas y quechuas que sufrieron el impune crimen de las esterilizaciones forzadas, durante el segundo gobierno fujimorista.')
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(name="robots",content="index,follow")

		meta(property="fb:app_id",content="489210501129201")
		meta(property="og:site_name",content="LaRepublica.pe")
		meta(property="og:type",content="website")
		<!-- Twitter Card data -->
		meta(name="twitter:card",content="summary_large_image")
		meta(name="twitter:site",content="@larepublica_pe")

		meta(name="og:width",content="498")
		meta(name="og:height",content="500")

		meta(name="twitter:width",content="498")
		meta(name="twitter:height",content="500")
		meta(itemprop="name",content="Secuelas Perpetuas | Esterilizaciones Forzadas | LaRepublica.pe")
		meta(itemprop="description",content='Secuelas perpetuas es un especial que relata desgarradoras historias de Mujeres shipibas y quechuas que sufrieron el impune crimen de las esterilizaciones forzadas, durante el segundo gobierno fujimorista.')

		meta(name="MobileOptimized",content="width")
		meta(name="HandheldFriendly",content="true")
		title Secuelas Perpetuas | Esterilizaciones Forzadas | ligaduras de trompas | Mujeres shipibas y quechuas | víctimas shipibas | mujeres esterilizadas | Gobierno fujimorista | casos de mujeres esterilizadas | LaRepublica.pe

		meta(property="og:description",content='Mujeres shipibas y quechuas cuentan en video y en su propio idioma las estrategias que emplearon para esterilizarlas, y quiénes lo hicieron. ')
		meta(property="og:url",content="http://larepublica.pe/data/caso-jose-yactayo/")
		meta(property="og:title",content="#SecuelasPerpetuas Más de 50 mujeres revelan como las ligaron sin su consentimiento. #EsterilizacionesForzadas")
		meta(property="og:image",content="http://larepublica.pe/data/caso-jose-yactayo/images/foto-fondo2.jpg")
		
		meta(name="twitter:url",content="http://larepublica.pe/data/caso-jose-yactayo/")
		meta(name="twitter:image",content="http://larepublica.pe/data/caso-jose-yactayo/images/foto-fondo2.jpg")
		meta(name="twitter:title",content="#SecuelasPerpetuas Más de 50 mujeres revelan como las ligaron sin su consentimiento. #EsterilizacionesForzadas")
		meta(name="twitter:description",content='Mujeres shipibas y quechuas cuentan en video y en su propio idioma las estrategias que emplearon para esterilizarlas, y quiénes lo hicieron. ')

		<!--(links)-->
		link(rel="stylesheet",type="text/css",href="css/main.css")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")

		//link(href="http://maxcdn.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css",rel="stylesheet")
		link(rel="shortcut icon",href="http://larepublica.pe/favicon.ico")
		script(type="text/javascript" src="js/jquery-2.2.4.min.js")
		//script(src='http://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
		script(src='http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js')

		<!--(icono)-->
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css",rel="stylesheet")

		<!--(carousel)-->
		//link(href='http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
		script(src='http://code.jquery.com/jquery-1.11.1.min.js')
		//script(src='http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')

		<!--(linea de tiempo)-->
		link(rel='shortcut icon', href='../favicon.ico')
		link(rel='stylesheet', type='text/css', href='css/default.css')
		link(rel='stylesheet', type='text/css', href='css/component.css')
		script(src='js/modernizr.custom.js')
			   	

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-6536106-1', 'auto');
			ga('send', 'pageview');

	body
		#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		section
		nav.navbar.navbar-default.menu
			.container-fluid
				// Brand and toggle get grouped for better mobile display
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='#') Caso José Yactayo
				// Collect the nav links, forms, and other content for toggling
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li
							.btn-redes
								.share-buttons-square
									span.fb
										.fb-share-button(data-href='http://larepublica.pe/data/esterilizaciones-forzadas/', data-layout='button',
										data-mobile-iframe='true')
											a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse') Compartir 
									span.twiter
											a.fa.fa-twitter(aria-hidden="true")(href='https://twitter.com/share', data-text='Secuelas Perpetuas | Mujeres shipibas y quechuas que sufrieron el impune crimen de las esterilizaciones forzadas'  data-via='larepublica_pe', data-size='default' data-hashtags='EsterilizacionesForzadas')
											script.
												!function(d,s,id){
												var js,
												fjs=d.getElementsByTagName(s)[0],
												p=/^http:/.test(d.location)
												?'http'
												:'https';
												if(!d.getElementById(id)){
												js=d.createElement(s);
												js.id=id;
												js.src=p+'://platform.twitter.com/widgets.js';
												fjs.parentNode.insertBefore(js,fjs);}
												}(document, 'script', 'twitter-wjs');
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
								| Unidad de Investigación | 
								span.caret
							ul.dropdown-menu
								li
									a(href='http://larepublica.pe/data/esterilizaciones-forzadas/') Secuelas Perpetuas
								li
									a(href='http://larepublica.pe/data/matanza-en-el-fronton/') El Juicio Final
								li
									a(href='http://larepublica.pe/data/otro-gran-show/') El Otro gran Show
								li
									a(href='http://larepublica.pe/data/no-me-callo/') Sigo aqui y no me cayo
								li.divider(role='separator')
								li
									a(href='http://larepublica.pe/investigacion') Más Investigaciones
						li
							a(href='http://larepublica.pe/') 
								img( src='images/logo_lr.png', alt='')

				// /.navbar-collapse
			// /.container-fluid

		section.intro
			.container

				.row
					.col-lg-7.col-md-6.col-sm-7.col-xs-12

						
					.col-lg-5.col-md-6.col-sm-5.col-xs-12
						.box-intro
							h1 Sucesos del crimen de Jose Yactayo
							p Wilfredo Zamora Carrión y el periodista José Yactayo Rodríguezy acuerdan a través del wassapencontrarse en la esquina de la avenida Brasil y el jirón Castro Virreyna en Breña. Yactayo aborda el auto volswagen plateado de placa .

		section.sucesos
			.container
				h2 El empresario Aldo Cácedas Benvenuto, sale del país coo
				.col-md-7
					.main
						ul.cbp_tmtimeline
							li
								time.cbp_tmtime(datetime='2013-04-10 18:30')
									span 24 de Febrero 
									span Viernes
								.cbp_tmicon.cbp_tmicon-earth
								.cbp_tmlabel
									h2 El empresario Aldo Cácedas Benvenuto, sale del país con destino a los Estados Unidos.
									p
										
							li
								time.cbp_tmtime(datetime='2013-04-11T12:04')
									span 25 de Febrero 
									span Sábado
								.cbp_tmicon.cbp_tmicon-earth
								.cbp_tmlabel
									h2 Zamora se comunica con Yactayo
									p
										| Wilfredo Zamora Carrión y el periodista José Yactayo Rodríguezy acuerdan a través del wassapencontrarse en la esquina de la avenida Brasil y el jirón Castro Virreyna en Breña. A las 10 de la noche Yactayo contacta con Wilfredo y aborda el auto volswagen plateado de placa D4H-172 ( propiedada de Aldo Cáceda).Ambos se dirigieron al departamento de Zamora ubicado en la calle Pedro Ruíz Gallo 668- 801, donde sostuvieron una amena reunión.
							li
								time.cbp_tmtime(datetime='2013-04-13 05:36')
									span 
									span 
								.cbp_tmicon.cbp_tmicon-earth
								.cbp_tmlabel
									h2 Los hechos
									p
										| Según declaraciones de Wilfredo Zamora, ambos se instalaron en la sala de la casa y empezaron a tomar wisky y otras sustancias. Luego aseveró que le echó un fármaco al vaso de José Yactayo para tranquilizarlo y se retiro al baño. A los pocos minutos se da cuenta que Yactayo empieza a roncar y ya no respiraba. Al ver que estaba sin vida, Zamora decide descuartizar el cuerpo del comunicador. Esa madruga del domingo 26 durmió con el cadáver. Al mediodía Zamora despierta y se va comprar una sierra de mano y con un cuchillo, y un martillo empieza a cortar en varias partes a su víctima. Para ello también se agenció de una pequeña refrigeradora para guardar los restos de Yactayo dentro de bolsas plásticas.
							li
								time.cbp_tmtime(datetime='2013-04-15 13:15')
									span 27 de Febrero 
									span Lunes
								.cbp_tmicon.cbp_tmicon-earth
								.cbp_tmlabel
									h2  Wilfredo Zamora abandona los restos del periodista
									p
										| En horas de la mañana del lunes 27, Wilfredo Zamora sale de su domicilio a bordo del auto volswagen y llevando una maleta el tronco y los brazos de José Yactayo enrumba al norte chico del país. Exactamente se dirige al fundo Andahuasi, distrito de Sayan en Huaura, Lima y abandona los restos del periodista al costado de una acequia, donde le prende fuego.
							li
								time.cbp_tmtime(datetime='2013-04-16 21:30')
									span 
									span 
								.cbp_tmicon.cbp_tmicon-earth
								.cbp_tmlabel
									h2 Luego retorna a Lima y empieza a regar las partes restante del cuerpo de José Yactayo dentro de bolsas plásticas.
									p
										| Se dirige a la cuadra 8 de laAv. José de la Riva Agüero, a la altura del parque de LasLeyendas en San Miguel, donde arroja en un contenedor de basura las herramientas que utilizó para descuartizar al periodista y su ropa. Seguidamente toma la ruta hacia el Puente Dueñas con la avenida Faucett y abandona la cabeza y parte de una pierna cortado en trozos al río Rímac Luego va camino al “barrio chino” en el centro de Lima y en los jirones Ucayali y Andahuaylas termina por arrojar la otra pierna. Finalmente toma la ruta del puente del Ejército por Cáqueta y termina con arrojar otras fracciones de ambas piernas.

							li
								time.cbp_tmtime(datetime='2013-04-17 12:11')
									span 28 de Febrero 
									span Martes
								.cbp_tmicon.cbp_tmicon-earth
								.cbp_tmlabel
									h2 Empresario llegá a Lima
									p
										| Martes 28 de febrero, Aldo Cáceda regresa al Perú y permanece una semana en el país.

							li
								time.cbp_tmtime(datetime='2013-04-18 09:56')
									span 7 de Marzo
									span Martes
								.cbp_tmicon.cbp_tmicon-earth
								.cbp_tmlabel
									h2 Empresario  vuelve a salir con destino a Panamá
									p
										| Martes 7 de marzo vuelva a salir con destino a Panamá, donde se reencuentra con Wilfredo Zamora, quien viajó a dicho lugar el sábado 4 de marzo.
							li
								time.cbp_tmtime(datetime='2013-04-18 10:56')
									span 15 de Marzo
									span Miércoles
								.cbp_tmicon.cbp_tmicon-earth
								.cbp_tmlabel
									h2 Wilfredo Zamora y Aldo Cáceda regresan al perú procedente de Brasil
									p
										| Miércoles 15 de marzo Wilfredo Zamora y Aldo Cáceda regresan al perú procedente de Brasil
							li
								time.cbp_tmtime(datetime='2013-04-18 11:56')
									span 22 de Marzo
									span Miércoles
								.cbp_tmicon.cbp_tmicon-earth
								.cbp_tmlabel
									h2 Aldo Cáceda vuelve a salir del país con destino a Estados Unidos.
									p
										| Miércoles 22 de marzo Aldo Cáceda vuelve a salir del país con destino a Estados Unidos.
				.col-md-4
					section.mapa
						h2 Viajes sospechosos de empresario
						iframe(src="https://www.google.com/maps/d/embed?mid=17i0NfkuOqCtbCYmPVbOnF1ef8FM" width="540" height="380")
					secton.fotos
						h2 .
						.slider
							ul
								li
									a.thumbnail(href='#')
										img.media-object(src="images/zamora1.jpg" height="250px" , alt='#')
								li
									a.thumbnail(href='#')
										img.media-object(src="images/JOSE  FELICIANO  YACTAYO-SDARC-12197999.JPG" height="250px", alt='#')
								li
									a.thumbnail(href='#')
										img.media-object(src="images/zamora2.jpg" height="250px" , alt='#')
								li
									a.thumbnail(href='#')
										img.media-object(src="images/PORE12-1_JAVIERQUISPE.jpeg" height="250px", alt='#')
								li
									a.thumbnail(href='#')
										img.media-object(src="images/caceda.jpg" height="250px", alt='#')

							.paginador
								//a.next(href='#') Next
								//a.prev(href='#') Prev

					section.mapa
						h2 Recorrido de Wilfredo Zamora
						iframe(src="https://www.google.com/maps/d/embed?mid=1dJqTKze95CZXWgC5iSBBH55eYmI" width="540" height="380")
					section.mas-noticias
						h2 Notas deJose Yactayo
						.box-overflow 	
							.row.notas
								a.thumbnail(href="http://larepublica.pe/impresa/politica/863192-universitario-confiesa-haber-descuartizado-el-cuerpo-del-periodista-jose-yactayo" target="_blank")
									img.media-object(src="images/PORE12-1_JAVIERQUISPE.jpeg", height="250px",alt="")
									.caption
										h3 Universitario confiesa haber descuartizado el cuerpo del periodista José Yactayo
										p Atrapado. Treinta y nueve días después del crimen, Wilfredo Zamora Carrión arguye que bebía licor en su casa con el hombre de prensa, que de pronto este sufrió convulsiones y falleció; y que luego él, asustado, decidió desmembrar todo el cuerpo.
										br 
							.row.notas
								a.thumbnail(href="http://larepublica.pe/impresa/sociedad/863476-empresario-es-pieza-clave-en-el-asesinato-de-jose-yactayo" target="_blank")
									img.media-object(src="images/PORE-2-3--JQUISPE-ok.jpeg", height="250px",alt="")
									.caption
										h3 Empresario es pieza clave en el asesinato de José Yactayo
										p Sin máscaras. Aldo Cáceda Benvenuto se comunicó con el presunto homicida Wilfredo Zamora Carrión antes y después del crimen del hombre de prensa y luego sostuvieron un encuentro clandestino en Panamá para evitar a la policía.
										br 
							.row.notas
								a.thumbnail(href="http://larepublica.pe/sociedad/853350-por-un-tatuaje-y-huellas-dactilares-peritos-identificaron-periodista-jose-yactayo" target="_blank")
									img.media-object(src="images/yactayo-Noticia-853350.jpg", height="250px",alt="")
									.caption
										h3 Por un tatuaje y huellas dactilares peritos identificaron a periodista José Yactayo
										p Los restos fueron introducidos en una maleta, que luego fue arrojada al lado de una acequia, en donde un agricultor lo encontró. 
										br 
							.row.notas
								a.thumbnail(href="http://larepublica.pe/impresa/politica/853496-celular-de-periodista-pepe-yactayo-es-clave-para-ubicar-paradero-de-sus-asesinos" target="_blank")
									img.media-object(src="images/yactayo-Noticia-855137.jpg", height="250px",alt="")
									.caption
										h3 Celular de periodista Pepe Yactayo es clave para ubicar paradero de sus asesinos
										p Homicidas cercenaron el cuerpo, metieron los restos en una maleta y le prendieron fuego, pero una inesperada lluvia apagó las llamas y la mano derecha pudo salvarse. Los peritos tomaron muestras dactilares y así pudieron identificar el cadáver del reconocido y querido hombre de prensa.
										br 
							.row.notas
								a.thumbnail(href="http://larepublica.pe/impresa/sociedad/854286-dirincri-investiga-quienes-manipularon-computadora-del-periodista-yactayo" target="_blank")
									img.media-object(src="images/SORE19B-NUEVA-Noticia-854286.jpeg", height="250px",alt="")
									.caption
										h3 Dirincri investiga quiénes manipularon computadora del periodista Yactayo
										p Según registro del geolocalizador, los que portaron el celular del editor audiovisual, luego de su desaparición, estuvieron en Lima, Chancay, Huacho y Huaura entre el domingo 26, lunes 27 y el martes 28 de febrero, día en que fue desactivado el teléfono móvil.
										br 
							.row.notas
								a.thumbnail(href="http://larepublica.pe/impresa/politica/855137-asesinos-de-jose-yactayo-salieron-de-san-isidro-y-regresaron-luego-del-crimen" target="_blank")
									img.media-object(src="images/yactayo-Noticia-855137.jpg", height="250px",alt="")
									.caption
										h3 Asesinos de José Yactayo salieron de San Isidro y regresaron luego del crimen
										p Ruta de la muerte. Seguimiento geolocalizado del teléfono del periodista indica que se dirigió a una vivienda en el distrito sanisidrino por llamado de una persona de confianza y que probablemente fue emboscado y eliminado en dicho lugar.
										br 

		script(type='text/javascript', src='js/bootstrap.js')
		script(type='text/javascript', src='js/main.js')
		script(src="https://apis.google.com/js/platform.js" async defer)


